Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

chore(spinner): remove extra hbs variable
  src/patternfly/components/Spinner/examples/Spinner.md
Due: none

chore(spinner): remove isSVG from other examples
  src/patternfly/components/Dropdown/dropdown-toggle-progress.hbs
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/Spinner/examples/Spinner.md
Due: none

fix: one tweak
  gulpfile.mjs
Due: none

chore(spinner): remove legacy spinner (#5468)
  src/patternfly/components/Dropdown/dropdown-toggle-progress.hbs
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/Spinner/examples/Spinner.md
  src/patternfly/components/Spinner/spinner.hbs
  src/patternfly/components/Spinner/spinner.scss
Due: stylelint --fix

fix(handlebars): fix ifEquals
  scripts/gulp/html.mjs
Due: none

chore(alert): docs cleanup
  src/patternfly/components/Alert/examples/Alert.md
Due: none

chore(alert): clean up docs
  src/patternfly/components/Alert/examples/Alert.md
Due: none

chore(alert): combined alert and alert group docs
  src/patternfly/components/Alert/alert-group-overflow-button.hbs
  src/patternfly/components/Alert/alert-group.hbs
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/Alert/alert-item.hbs
  src/patternfly/components/Alert/examples/Alert.md
  src/patternfly/components/AlertGroup/examples/AlertGroup.md
  src/patternfly/components/_all.scss
Due: stylelint --fix

chore(alert): update docs
  src/patternfly/components/Alert/examples/Alert.md
Due: none

IA clean up
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/demos/ContextSelector/examples/ContextSelector.md
Due: none

chore(docs): IA clean up (#5505)
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/demos/ContextSelector/examples/ContextSelector.md
Due: none

fix(handlebars): fix ifEquals (#5492)
  scripts/gulp/html.mjs
Due: none

build(dev-server): enable hot reloads of helpers
  gulpfile.mjs
  scripts/gulp/html.mjs
  scripts/helpers.mjs
Due: none

build(dev-server): enable hot reloads of helpers (#5510)
  gulpfile.mjs
  scripts/gulp/html.mjs
  scripts/helpers.mjs
Due: none

fix(docs-framework): bump alpha version to fix workspace bugs
  package.json
  yarn.lock
Due: none

fix(docs-framework): bump alpha version to fix workspace bugs (#5515)
  package.json
  yarn.lock
Due: none

chore(page): default page to full viewport height
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
Due: stylelint --fix

chore(input-group): update documentation
  src/patternfly/components/InputGroup/examples/InputGroup.md
Due: none

chore(input-group): update modifier documentation
  src/patternfly/components/InputGroup/examples/InputGroup.md
Due: none

feat(flex): added gap support
  src/patternfly/layouts/Flex/examples/Flex.md
  src/patternfly/layouts/Flex/flex.scss
  src/patternfly/sass-utilities/functions.scss
Due: stylelint --fix

chore(flex): docs cleanup
  src/patternfly/layouts/Flex/examples/Flex.md
  src/patternfly/layouts/Flex/flex.scss
  src/patternfly/sass-utilities/functions.scss
Due: stylelint --fix

fix(page): default page to full viewport height (#5517)
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
Due: stylelint --fix

chore(alert): combined alert and alert group docs (#5477)
  src/patternfly/components/Alert/alert-group-overflow-button.hbs
  src/patternfly/components/Alert/alert-group.hbs
  src/patternfly/components/Alert/alert-group.scss
  src/patternfly/components/Alert/alert-item.hbs
  src/patternfly/components/Alert/examples/Alert.md
  src/patternfly/components/AlertGroup/examples/AlertGroup.md
  src/patternfly/components/_all.scss
Due: stylelint --fix

feat(version): updated sole remaining unversioned css var
  src/patternfly/components/Form/form.scss
Due: stylelint --fix

feat(version): updated generate scripts
  scripts/template/src/patternfly/{folder}/{name}/{nameDasherized}.hbs
  scripts/template/src/patternfly/{folder}/{name}/{nameDasherized}.scss
Due: stylelint --fix

feat(version): updated chart color
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/patternfly-charts.scss
  src/patternfly/themes/dark/_patternfly-charts-theme-dark.scss
Due: stylelint --fix

feat(version): updated `floating` modifiers version
  src/patternfly/base/_common.scss
  src/patternfly/base/_svg-icons.scss
  src/patternfly/base/_variables.scss
Due: stylelint --fix

feat(version): updated pf-v5- to {{pfv}}
  src/patternfly/components/Card/card-title.hbs
  src/patternfly/components/ModalBox/modal-box-title.hbs
  src/patternfly/components/ModalBox/modal-box.hbs
  src/patternfly/components/Select/select-toggle-button.hbs
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-td.hbs
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table-tr.hbs
  src/patternfly/components/Table/templates/table-tr--nested-column-header.hbs
  src/patternfly/components/Wizard/wizard-toggle-separator.hbs
  src/patternfly/demos/Card/card-template-gallery.hbs
  src/patternfly/demos/Card/templates/card-demo--popover-table.hbs
  src/patternfly/demos/Card/templates/card-demo--status-card.hbs
  src/patternfly/demos/Card/templates/card-demo--template-gallery.hbs
  src/patternfly/demos/Card/templates/card-template-data-list.hbs
  src/patternfly/demos/Card/templates/card-template-events.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
  src/patternfly/demos/Card/templates/card-template-metrics.hbs
  src/patternfly/demos/Card/templates/card-template-status.hbs
  src/patternfly/demos/DescriptionList/description-list-template-complex-content.hbs
  src/patternfly/demos/DescriptionList/description-list-template.hbs
  src/patternfly/demos/Masthead/masthead-template-drilldown.hbs
  src/patternfly/demos/Page/page-template-masthead-drilldown.hbs
  src/patternfly/utilities/Display/display.hbs
  src/patternfly/utilities/Float/float.hbs
Due: none

feat(version): initialize date-picker
  src/patternfly/patternfly-date-picker.scss
Due: stylelint --fix

feat(version): updated missing strings
  scripts/gulp/icons.mjs
  scripts/iconList.sh
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/assets/pficon/pficon.woff2
  src/patternfly/components/Card/themes/dark/card.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/Spinner/spinner.hbs
  src/patternfly/components/Spinner/spinner.scss
  src/patternfly/components/Table/table-grid.scss
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/components/Tabs/tabs.scss
  src/patternfly/components/Tabs/themes/dark/tabs.scss
  src/patternfly/components/ToggleGroup/themes/dark/toggle-group.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/sass-utilities/component-namespaces.scss
Due: stylelint --fix

feat(version): removed date picker
  src/patternfly/patternfly-date-picker.scss
Due: stylelint --fix

update
  scripts/helpers.mjs
  src/patternfly/components/Card/card-title.hbs
  src/patternfly/components/Card/card.hbs
Due: none

feat(version): reconfig css
  patternfly-docs/patternfly-docs.css.js
  scripts/helpers.mjs
  src/patternfly/class.hbs
  src/patternfly/components/Alert/examples/Alert.md
  src/patternfly/demos/TestDemo/examples/TestDemo.md
  src/patternfly/demos/TestDemo/examples/test-demo.css
  src/patternfly/demos/TestDemo/test-demo.hbs
  src/patternfly/demos/TestDemo/test-demo.scss
  src/patternfly/demos/TestDemo/test.hbs
Due: eslint --fix, stylelint --fix

fix(icons): update static icon colors
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Breadcrumb/themes/dark/breadcrumb.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/sass-utilities/themes/dark/scss-variables.scss
Due: stylelint --fix

feat(version): resolved help icon issue
  patternfly-docs/patternfly-docs.css.js
  patternfly-docs/site/pages/icons.md
  src/icons/generateIcons.mjs
  src/patternfly/assets/icons/iconUnicodes.json
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/assets/pficon/pficon.woff2
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
  src/patternfly/components/Form/form-group-label-help.hbs
  src/patternfly/components/ModalBox/modal-box-header-help.hbs
  src/patternfly/components/MultipleFileUpload/multiple-file-upload-status-progress-icon.hbs
  src/patternfly/components/NotificationBadge/notification-badge.hbs
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/ProgressStepper/progress-stepper-step-icon.hbs
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Table/table-column-help-action.hbs
  src/patternfly/components/Tabs/tabs-item-action.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status.hbs
  src/patternfly/demos/Masthead/masthead-template-drilldown.hbs
  src/patternfly/demos/Page/page-template-header-tools-notification-badge.hbs
  src/patternfly/demos/Page/page-template-masthead-drilldown.hbs
  src/patternfly/sass-utilities/component-namespaces.scss
Due: eslint --fix, stylelint --fix
