Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

fix(input-group): added missing __items, updated form-control
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/components/InputGroup/input-group-item.hbs
  src/patternfly/components/InputGroup/input-group-text.hbs
  src/patternfly/components/InputGroup/input-group.hbs
  src/patternfly/components/NumberInput/examples/NumberInput.md
  src/patternfly/components/SearchInput/search-input.hbs
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/demos/Form/examples/BasicForms.md
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: none

update
  src/patternfly/demos/Form/examples/BasicForms.md
Due: none

refactor(inpug-group): removed complex hbs
  src/patternfly/components/CalendarMonth/examples/CalendarMonth.md
  src/patternfly/components/DatePicker/examples/DatePicker.md
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/components/FormControl/form-control.hbs
  src/patternfly/components/InputGroup/examples/InputGroup.md
  src/patternfly/components/InputGroup/input-group-item.hbs
  src/patternfly/components/InputGroup/input-group.scss
  src/patternfly/components/InputGroup/themes/dark/input-group.scss
  src/patternfly/components/Slider/examples/Slider.md
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/Toolbar/toolbar-item-search-filter.hbs
  src/patternfly/demos/Form/examples/BasicForms.md
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/PasswordGenerator/examples/PasswordGenerator.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: stylelint --fix

refactor(input-group): updated example params, rebased
  src/patternfly/components/InputGroup/examples/InputGroup.md
  src/patternfly/components/InputGroup/input-group-text.hbs
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/demos/Masthead/examples/Masthead.md
Due: none

fix(background-image): resolved rebase
  src/patternfly/components/AboutModalBox/about-modal-box.hbs
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/AboutModalBox/examples/AboutModalBox.md
  src/patternfly/components/BackgroundImage/background-image.hbs
  src/patternfly/components/BackgroundImage/background-image.scss
  src/patternfly/components/BackgroundImage/examples/BackgroundImage.md
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/components/Login/login.scss
  src/patternfly/components/Login/themes/dark/login.scss
  src/patternfly/demos/AboutModal/about-modal-template.hbs
Due: stylelint --fix

feat(table): added support for sticky column on right (#5393)
  src/patternfly/components/Table/examples/Table.css
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/templates/table--scrollable--tbody--tr.hbs
  src/patternfly/components/Table/templates/table--scrollable--thead--tr.hbs
  src/patternfly/demos/Table/examples/Table.md
Due: stylelint --fix

fix(background-image): adding back svg
  src/patternfly/assets/images/pfbg-icon.svg
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/Login/login.scss
Due: stylelint --fix

update
  src/patternfly/components/BackgroundImage/background-image.scss
Due: stylelint --fix

feat(sidebar): added padding and border to sidebar
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/Sidebar/sidebar-main.hbs
  src/patternfly/components/Sidebar/sidebar.scss
Due: stylelint --fix

feat(sidebar): rebased, updated hbs template
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/Sidebar/sidebar-main.hbs
Due: none

feat(sidebar): updated padding mods
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/Sidebar/sidebar.scss
Due: stylelint --fix

add Dropdown to Menus
  src/patternfly/components/Dropdown/examples/Dropdown.md
Due: none

Add more to menus group
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/Select/examples/Select.md
Due: none

Create forms and file upload groups
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/components/Form/examples/Form.md
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/MultipleFileUpload/examples/MultipleFileUpload.md
  src/patternfly/components/Radio/examples/Radio.md
Due: none

Move Forms demo
  src/patternfly/demos/Form/examples/BasicForms.md
Due: none

feat(theming): updates to global vars
  src/patternfly/base/_themes.scss
  src/patternfly/base/_variables.scss
  src/patternfly/base/patternfly-themes.scss
  src/patternfly/base/themes/dark/_variables.scss
  src/patternfly/components/AboutModalBox/themes/dark/about-modal-box.scss
  src/patternfly/components/Banner/themes/dark/banner.scss
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/FormControl/themes/dark/form-control.scss
  src/patternfly/components/LogViewer/themes/dark/log-viewer.scss
  src/patternfly/components/Login/themes/dark/login.scss
  src/patternfly/components/Masthead/themes/dark/masthead.scss
  src/patternfly/components/Page/themes/dark/page.scss
  src/patternfly/components/Wizard/themes/dark/wizard.scss
  src/patternfly/patternfly-base.scss
  src/patternfly/sass-utilities/_all.scss
  src/patternfly/sass-utilities/bs-variables.scss
  src/patternfly/sass-utilities/colors.scss
  src/patternfly/sass-utilities/functions.scss
  src/patternfly/sass-utilities/placeholders.scss
  src/patternfly/sass-utilities/scss-variables.scss
  src/patternfly/sass-utilities/themes/dark/_all.scss
  src/patternfly/sass-utilities/themes/dark/mixins.scss
  src/patternfly/sass-utilities/themes/dark/placeholders.scss
  src/patternfly/sass-utilities/themes/dark/scss-variables.scss
Due: stylelint --fix

chore(text): update default/custom docs
  src/patternfly/utilities/Text/examples/Text.md
Due: none

fix(global): rename default status color to custom
  src/patternfly/base/_variables.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Alert/examples/Alert.md
  src/patternfly/components/Alert/themes/dark/alert.scss
  src/patternfly/components/AlertGroup/examples/AlertGroup.md
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/Icon/icon.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/Label/themes/dark/label.scss
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/ModalBox/modal-box-title-icon.hbs
  src/patternfly/components/ModalBox/modal-box-title.hbs
  src/patternfly/components/ModalBox/modal-box.hbs
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/NotificationDrawer/examples/NotificationDrawer.md
  src/patternfly/components/NotificationDrawer/notification-drawer-basic-list.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer-list-item-header-icon.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer-list-item-header-title.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer-list-item.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Popover/examples/Popover.md
  src/patternfly/components/Popover/popover-title-text.hbs
  src/patternfly/components/Popover/popover-title.hbs
  src/patternfly/components/Popover/popover.hbs
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Popover/themes/dark/popover.scss
  src/patternfly/sass-utilities/scss-variables.scss
  src/patternfly/utilities/Text/examples/Text.md
  src/patternfly/utilities/Text/text.scss
  src/patternfly/utilities/Text/themes/dark/text.scss
Due: stylelint --fix

chore(examples): update example text
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/NotificationDrawer/notification-drawer-list-item-header-title.hbs
  src/patternfly/components/Popover/popover-title-text.hbs
Due: stylelint --fix

chore(OptionsMenu): removed lineHeight css variable
  src/patternfly/components/OptionsMenu/options-menu.scss
Due: stylelint --fix

feat(sidebar): added padding and border to sidebar (#5221)
  src/patternfly/components/Sidebar/examples/Sidebar.md
  src/patternfly/components/Sidebar/sidebar-main.hbs
  src/patternfly/components/Sidebar/sidebar.scss
Due: stylelint --fix

feat(toolbar): added row-gap to items/content-section (#5398)
  src/patternfly/components/Toolbar/toolbar-item-search-filter.hbs
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix

chore(OptionsMenu): removed lineHeight css variable (#5422)
  src/patternfly/components/OptionsMenu/options-menu.scss
Due: stylelint --fix

fix(input-group): refactor to be more flexible, added items (#5382)
  src/patternfly/components/CalendarMonth/examples/CalendarMonth.md
  src/patternfly/components/DatePicker/examples/DatePicker.md
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/components/FormControl/form-control.hbs
  src/patternfly/components/InputGroup/examples/InputGroup.md
  src/patternfly/components/InputGroup/input-group-item.hbs
  src/patternfly/components/InputGroup/input-group-text.hbs
  src/patternfly/components/InputGroup/input-group.hbs
  src/patternfly/components/InputGroup/input-group.scss
  src/patternfly/components/InputGroup/themes/dark/input-group.scss
  src/patternfly/components/NumberInput/examples/NumberInput.md
  src/patternfly/components/SearchInput/search-input.hbs
  src/patternfly/components/Slider/examples/Slider.md
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/Toolbar/toolbar-item-search-filter.hbs
  src/patternfly/demos/Form/examples/BasicForms.md
  src/patternfly/demos/Masthead/examples/Masthead.md
  src/patternfly/demos/PasswordGenerator/examples/PasswordGenerator.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: stylelint --fix

fix(helper-text): replaced component helper text
  src/patternfly/components/DatePicker/date-picker-helper-text.hbs
  src/patternfly/components/DatePicker/date-picker.hbs
  src/patternfly/components/DatePicker/date-picker.scss
  src/patternfly/components/DatePicker/examples/DatePicker.md
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/components/Form/examples/Form.md
  src/patternfly/components/Form/form-helper-text-icon.hbs
  src/patternfly/components/Form/form-helper-text.hbs
  src/patternfly/components/FormControl/templates/form-control-template-form-group.hbs
  src/patternfly/components/HelperText/examples/HelperText.md
  src/patternfly/components/HelperText/helper-text-item-icon.hbs
  src/patternfly/components/HelperText/helper-text-item-text.hbs
  src/patternfly/components/HelperText/helper-text-item.hbs
  src/patternfly/components/HelperText/helper-text.hbs
  src/patternfly/components/HelperText/helper-text.scss
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/components/Progress/examples/Progress.md
  src/patternfly/components/Progress/progress-helper-text.hbs
  src/patternfly/components/Progress/progress.hbs
  src/patternfly/demos/Alert/alert-template-horizontal-form.hbs
  src/patternfly/demos/Alert/alert-template-stacked-form.hbs
  src/patternfly/demos/Form/examples/BasicForms.md
  src/patternfly/demos/HelperText/examples/HelperText.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
  src/patternfly/demos/Toolbar/examples/Toolbar.md
Due: stylelint --fix

fix(helper-text): fixed spelling/punctuation
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/demos/Alert/alert-template-horizontal-form.hbs
  src/patternfly/demos/Alert/alert-template-stacked-form.hbs
Due: none

fix(Dropdown): updated styling to resolve unexpected spacing
  src/patternfly/components/ContextSelector/context-selector.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/OptionsMenu/options-menu.scss
Due: stylelint --fix

fix(Dropdown): refactored to use gap
  src/patternfly/components/ContextSelector/context-selector.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/OptionsMenu/options-menu.scss
Due: stylelint --fix

Move more components to Menus
  src/patternfly/components/AppLauncher/examples/application-launcher.md
  src/patternfly/components/ContextSelector/examples/context-selector.md
  src/patternfly/components/OptionsMenu/examples/options-menu.md
Due: none

docs(progress, password strength): fixed demo, updated docs
  src/patternfly/components/Progress/examples/Progress.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: none

docs(progress, password strength): fixed demo, updated docs (#5430)
  src/patternfly/components/Progress/examples/Progress.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: none

fix(helper-text): replaced component helper text (#5417)
  src/patternfly/components/DatePicker/date-picker-helper-text.hbs
  src/patternfly/components/DatePicker/date-picker.hbs
  src/patternfly/components/DatePicker/date-picker.scss
  src/patternfly/components/DatePicker/examples/DatePicker.md
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/components/Form/examples/Form.md
  src/patternfly/components/Form/form-helper-text-icon.hbs
  src/patternfly/components/Form/form-helper-text.hbs
  src/patternfly/components/FormControl/templates/form-control-template-form-group.hbs
  src/patternfly/components/HelperText/examples/HelperText.md
  src/patternfly/components/HelperText/helper-text-item-icon.hbs
  src/patternfly/components/HelperText/helper-text-item-text.hbs
  src/patternfly/components/HelperText/helper-text-item.hbs
  src/patternfly/components/HelperText/helper-text.hbs
  src/patternfly/components/HelperText/helper-text.scss
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/components/Progress/examples/Progress.md
  src/patternfly/components/Progress/progress-helper-text.hbs
  src/patternfly/components/Progress/progress.hbs
  src/patternfly/demos/Alert/alert-template-horizontal-form.hbs
  src/patternfly/demos/Alert/alert-template-stacked-form.hbs
  src/patternfly/demos/Form/examples/BasicForms.md
  src/patternfly/demos/HelperText/examples/HelperText.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
  src/patternfly/demos/Toolbar/examples/Toolbar.md
Due: stylelint --fix

chore(notification-drawer): updated list-item docs
  src/patternfly/components/NotificationDrawer/examples/NotificationDrawer.md
Due: none

Create 'date and time' category
  src/patternfly/components/DatePicker/examples/DatePicker.md
Due: none

Fix captialization
  src/patternfly/components/DatePicker/examples/DatePicker.md
Due: none

Reorganize pages in workspace (#5416)
  RELEASE-NOTES.md
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/components/AppLauncher/examples/application-launcher.md
  src/patternfly/components/Check/examples/Check.md
  src/patternfly/components/ContextSelector/examples/context-selector.md
  src/patternfly/components/DatePicker/examples/DatePicker.md
  src/patternfly/components/Dropdown/examples/Dropdown.md
  src/patternfly/components/FileUpload/examples/FileUpload.md
  src/patternfly/components/Form/examples/Form.md
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/MenuToggle/examples/MenuToggle.md
  src/patternfly/components/MultipleFileUpload/examples/MultipleFileUpload.md
  src/patternfly/components/OptionsMenu/examples/options-menu.md
  src/patternfly/components/Radio/examples/Radio.md
  src/patternfly/components/Select/examples/Select.md
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/Dashboard/examples/Dashboard.md
  src/patternfly/demos/Form/examples/BasicForms.md
  src/patternfly/demos/PasswordGenerator/examples/PasswordGenerator.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/utilities/Accessibility/examples/Accessibility.md
  src/patternfly/utilities/Alignment/examples/Alignment.md
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
  src/patternfly/utilities/BoxShadow/examples/box-shadow.md
  src/patternfly/utilities/Display/examples/Display.md
  src/patternfly/utilities/Flex/examples/Flex.md
  src/patternfly/utilities/Float/examples/Float.md
  src/patternfly/utilities/Sizing/examples/Sizing.md
  src/patternfly/utilities/Spacing/examples/Spacing.md
  src/patternfly/utilities/Text/examples/Text.md
Due: eslint --fix

fix(global): remove woff, use where with globals, cleanup
  scripts/gulp/icons.mjs
  scripts/gulp/icons_template.scss
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Black.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-BlackItalic.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Bold.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-BoldItalic.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Italic.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Medium.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-MediumItalic.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Regular.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-Bold.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-BoldItalic.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-Italic.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-Medium.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-MediumItalic.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-Regular.woff
  src/patternfly/assets/fonts/webfonts/fa-solid-900.woff
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/assets/pficon/pficon.woff
  src/patternfly/base/_fa-icons.scss
  src/patternfly/base/_fonts.scss
  src/patternfly/base/_globals.scss
  src/patternfly/patternfly-base-no-globals.scss
  src/patternfly/patternfly-no-globals.scss
  src/patternfly/sass-utilities/bs-variables.scss
  src/patternfly/sass-utilities/placeholders.scss
  src/patternfly/sass-utilities/scss-variables.scss
  src/patternfly/sass-utilities/themes/dark/placeholders.scss
Due: stylelint --fix

fix(global): remove woff, use where with globals, cleanup (#5435)
  scripts/gulp/icons.mjs
  scripts/gulp/icons_template.scss
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Black.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-BlackItalic.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Bold.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-BoldItalic.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Italic.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Medium.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-MediumItalic.woff
  src/patternfly/assets/fonts/RedHatDisplay/RedHatDisplay-Regular.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-Bold.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-BoldItalic.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-Italic.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-Medium.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-MediumItalic.woff
  src/patternfly/assets/fonts/RedHatText/RedHatText-Regular.woff
  src/patternfly/assets/fonts/webfonts/fa-solid-900.woff
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/assets/pficon/pficon.woff
  src/patternfly/base/_fa-icons.scss
  src/patternfly/base/_fonts.scss
  src/patternfly/base/_globals.scss
  src/patternfly/patternfly-base-no-globals.scss
  src/patternfly/patternfly-no-globals.scss
  src/patternfly/sass-utilities/bs-variables.scss
  src/patternfly/sass-utilities/placeholders.scss
  src/patternfly/sass-utilities/scss-variables.scss
  src/patternfly/sass-utilities/themes/dark/placeholders.scss
Due: stylelint --fix

fix(global): rename default status color to custom (#5418)
  src/patternfly/base/_variables.scss
  src/patternfly/components/Alert/alert.scss
  src/patternfly/components/Alert/examples/Alert.md
  src/patternfly/components/Alert/themes/dark/alert.scss
  src/patternfly/components/AlertGroup/examples/AlertGroup.md
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/Icon/icon.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/Label/themes/dark/label.scss
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/ModalBox/modal-box-title-icon.hbs
  src/patternfly/components/ModalBox/modal-box-title.hbs
  src/patternfly/components/ModalBox/modal-box.hbs
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/components/NotificationDrawer/examples/NotificationDrawer.md
  src/patternfly/components/NotificationDrawer/notification-drawer-basic-list.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer-list-item-header-icon.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer-list-item-header-title.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer-list-item.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer.scss
  src/patternfly/components/Popover/examples/Popover.md
  src/patternfly/components/Popover/popover-title-text.hbs
  src/patternfly/components/Popover/popover-title.hbs
  src/patternfly/components/Popover/popover.hbs
  src/patternfly/components/Popover/popover.scss
  src/patternfly/components/Popover/themes/dark/popover.scss
  src/patternfly/sass-utilities/scss-variables.scss
  src/patternfly/utilities/Text/examples/Text.md
  src/patternfly/utilities/Text/text.scss
  src/patternfly/utilities/Text/themes/dark/text.scss
Due: stylelint --fix

fix(Dropdown): updated styling to resolve unexpected spacing (#5425)
  src/patternfly/components/ContextSelector/context-selector.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/OptionsMenu/options-menu.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
