Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

Add calendar month to date and time group
  src/patternfly/components/CalendarMonth/examples/CalendarMonth.md
Due: none

fix(docs): promote various components/features out of beta for v5
  src/patternfly/components/DatePicker/examples/DatePicker.md
  src/patternfly/components/Dropdown/examples/Dropdown.md
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/LogViewer/examples/LogViewer.md
  src/patternfly/components/ProgressStepper/examples/ProgressStepper.md
  src/patternfly/components/SearchInput/examples/SearchInput.md
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/Tile/examples/Tile.md
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/demos/Page/examples/Page.md
Due: none

Add calendar month to date and time group (#5440)
  src/patternfly/components/CalendarMonth/examples/CalendarMonth.md
Due: none

feat(helper-text): make icon required for status
  src/patternfly/components/Form/examples/Form.md
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/HelperText/examples/HelperText.md
  src/patternfly/components/HelperText/helper-text-item-icon.hbs
  src/patternfly/components/HelperText/helper-text-item.hbs
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/demos/HelperText/examples/HelperText.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
  src/patternfly/demos/Toolbar/examples/Toolbar.md
Due: none

fix(docs): promote various components/features out of beta for v5 (#5441)
  src/patternfly/components/DatePicker/examples/DatePicker.md
  src/patternfly/components/Dropdown/examples/Dropdown.md
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/LogViewer/examples/LogViewer.md
  src/patternfly/components/ProgressStepper/examples/ProgressStepper.md
  src/patternfly/components/SearchInput/examples/SearchInput.md
  src/patternfly/components/Tabs/examples/Tabs.md
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.md
  src/patternfly/components/Tile/examples/Tile.md
  src/patternfly/components/Truncate/examples/Truncate.md
  src/patternfly/demos/Page/examples/Page.md
Due: none

feat(Page): addressed comment
  src/patternfly/components/Page/page.scss
Due: stylelint --fix

refactor(BackgroundImage): added documentation for customization
  src/patternfly/components/AboutModalBox/examples/AboutModalBox.md
  src/patternfly/components/BackgroundImage/examples/BackgroundImage.md
Due: none

refactor(background-image): updated bg image (#5328)
  src/patternfly/assets/images/pfbg-icon.svg
  src/patternfly/components/AboutModalBox/about-modal-box.hbs
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/AboutModalBox/examples/AboutModalBox.md
  src/patternfly/components/BackgroundImage/background-image.hbs
  src/patternfly/components/BackgroundImage/background-image.scss
  src/patternfly/components/BackgroundImage/examples/BackgroundImage.md
  src/patternfly/components/Login/examples/Login.md
  src/patternfly/components/Login/login.scss
  src/patternfly/components/Login/themes/dark/login.scss
  src/patternfly/demos/AboutModal/about-modal-template.hbs
Due: stylelint --fix

feat(page): added multiple body support (#5093)
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page-sidebar.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template-sidebar-nav.hbs
  src/patternfly/demos/Page/page-template-sidebar.hbs
Due: stylelint --fix

feat(card): changes card affordances
  src/patternfly/components/Card/card--check.hbs
  src/patternfly/components/Card/card--hidden-input.hbs
  src/patternfly/components/Card/card--radio.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix

feat(card): fix merge conflicts
  src/patternfly/components/Card/examples/Card.md
Due: none

feat(card): fix more merge conflicts
  src/patternfly/components/Card/examples/Card.md
Due: none

feat(card): fix double shadow, improve specificity
  src/patternfly/components/Card/card.scss
Due: stylelint --fix

feat(helper-text): remove some extra HasIcon
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/HelperText/examples/HelperText.md
  src/patternfly/demos/Alert/alert-template-horizontal-form.hbs
  src/patternfly/demos/Alert/alert-template-stacked-form.hbs
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
Due: none

feat(card): fix/clarify selectable-clickable card
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix

feat(card): add aria-current
  src/patternfly/components/Card/examples/Card.md
Due: none

feat(card): update docs
  src/patternfly/components/Card/examples/Card.md
Due: none

feat(card): fix hbs, address comments
  src/patternfly/components/Card/card--hidden-input.hbs
  src/patternfly/components/Card/card--radio.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix

feat(card): fixes click but states conflict
  src/patternfly/components/Card/card.scss
Due: stylelint --fix

feat(card): fixes states and comments
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix

feat(helper-text): fix link in docs
  src/patternfly/components/FormControl/examples/FormControl.md
Due: none

feat(Table/DataList): refactored visual affordances (#5397)
  src/patternfly/components/DataList/data-list-item.hbs
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/DataList/examples/DataList.md
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-tbody.hbs
  src/patternfly/components/Table/table-tr.hbs
  src/patternfly/components/Table/table.scss
Due: stylelint --fix

feat(card): fixes nits
  src/patternfly/components/Card/card--hidden-input.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix

feat(card): changes to use selectable-actions
  src/patternfly/components/Card/card--check.hbs
  src/patternfly/components/Card/card--hidden-input.hbs
  src/patternfly/components/Card/card--radio.hbs
  src/patternfly/components/Card/card-selectable-actions.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix

feat(card): improve specificity of selectable label
  src/patternfly/components/Card/card.scss
Due: stylelint --fix

feat(card): update usage section
  src/patternfly/components/Card/examples/Card.md
Due: none

feat(card): changes card affordances (#5409)
  src/patternfly/components/Card/card--check.hbs
  src/patternfly/components/Card/card--hidden-input.hbs
  src/patternfly/components/Card/card--radio.hbs
  src/patternfly/components/Card/card-selectable-actions.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
Due: stylelint --fix

feat(form-control): remove icons
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/components/FormControl/themes/dark/form-control.scss
Due: stylelint --fix

chore(generate): fix script that generates new components/layouts/demos
  generate.js
  scripts/generate.mjs
Due: eslint --fix

feat(form-control): add back caret for select
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/FormControl/form-control-select.hbs
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix

chore(generate): fix script that generates new components/layouts/demos (#5465)
  generate.js
  scripts/generate.mjs
Due: eslint --fix

feat(form-control): fix focus area and examples
  src/patternfly/components/FormControl/examples/FormControl.md
  src/patternfly/components/FormControl/form-control-select.hbs
  src/patternfly/components/FormControl/form-control.scss
  src/patternfly/demos/Alert/alert-template-stacked-form.hbs
  src/patternfly/demos/Form/examples/BasicForms.md
Due: stylelint --fix

feat(form-control): update documentation
  src/patternfly/components/FormControl/examples/FormControl.md
Due: none

feat(form-control): fix typo in hbs attribute for a11y
  src/patternfly/components/FormControl/examples/FormControl.md
Due: none

feat(form-control): fix additional typo in hbs attribute for a11y
  src/patternfly/demos/Form/examples/BasicForms.md
Due: none

chore(spinner): remove legacy spinner
  src/patternfly/components/Spinner/examples/Spinner.md
  src/patternfly/components/Spinner/spinner.hbs
  src/patternfly/components/Spinner/spinner.scss
Due: stylelint --fix

fix(deps): use react + org alphas, clean up gulp usage
  README.md
  gulpfile.mjs
  package.json
  scripts/gulp/copy.mjs
  scripts/gulp/html.mjs
  scripts/gulp/sass.mjs
  yarn.lock
Due: none

fix(form): add transparent background to form group help label
  src/patternfly/components/Form/form.scss
Due: stylelint --fix

fix(form): add transparent background to form group help label (#5478)
  src/patternfly/components/Form/form.scss
Due: stylelint --fix

chore(Badge): added flex styling
  src/patternfly/components/Badge/badge.scss
Due: stylelint --fix
