Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.scss": [
    "stylelint --fix"
  ]
}

feat(Table/DataList): refactored visual affordances
  src/patternfly/components/DataList/data-list-item.hbs
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/DataList/examples/DataList.md
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-tbody.hbs
  src/patternfly/components/Table/table-tr.hbs
  src/patternfly/components/Table/table.scss
Due: stylelint --fix

feat(Table/DataList): updated examples
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/DataList/examples/DataList.md
  src/patternfly/components/Table/examples/Table.md
Due: stylelint --fix

feat(Table/DataList): updated compound expand/nested styling
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Table/table.scss
Due: stylelint --fix

feat(Table/DataList): fixed lint error for Chip
  src/patternfly/components/Chip/chip.scss
Due: stylelint --fix

fix(Wizard): cleaned up CSS (#5389)
  src/patternfly/components/Wizard/examples/Wizard.md
  src/patternfly/components/Wizard/wizard-close.hbs
  src/patternfly/components/Wizard/wizard-title-text.hbs
  src/patternfly/components/Wizard/wizard-title.hbs
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/demos/Wizard/examples/Wizard.md
Due: stylelint --fix

feat(toolbar): modifier section spacing
  src/patternfly/components/Toolbar/toolbar-item-search-filter.hbs
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix

feat(toolbar): added row-gap to items/content-section
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix

feat(toolbar): added margin-top and padding-bottom to exp
  src/patternfly/components/Toolbar/toolbar.scss
Due: stylelint --fix

update
  src/patternfly/components/Chip/chip.scss
Due: stylelint --fix

fix(card): updated text template calls
  src/patternfly/components/Card/card-title-text.hbs
  src/patternfly/components/Card/card-title.hbs
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/demos/Card/card-template-gallery.hbs
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Card/templates/card-demo--template-gallery.hbs
  src/patternfly/demos/Card/templates/card-template-line-chart.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-view.hbs
  src/patternfly/demos/Tabs/examples/Tabs.md
Due: none

fix(card): added line-height
  src/patternfly/components/Card/card.scss
Due: stylelint --fix

fix(card): updated title weight/added title-text
  src/patternfly/components/Card/card-title-text.hbs
  src/patternfly/components/Card/card-title.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/demos/Card/card-template-gallery.hbs
  src/patternfly/demos/Card/examples/Card.md
Due: stylelint --fix

fix(card): updated title ids
  src/patternfly/components/Card/card-title-text.hbs
  src/patternfly/components/Card/card-title.hbs
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/demos/Card/card-template-gallery.hbs
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Card/templates/card-template-data-list.hbs
  src/patternfly/demos/Card/templates/card-template-events.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status.hbs
  src/patternfly/demos/Card/templates/card-template-line-chart.hbs
Due: none

fix(card): updated docs
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/demos/Card/card-template-gallery.hbs
Due: none

fix(card): updated title weight/added title-text (#5363)
  src/patternfly/components/Card/card-title-text.hbs
  src/patternfly/components/Card/card-title.hbs
  src/patternfly/components/Card/card.scss
  src/patternfly/components/Card/examples/Card.md
  src/patternfly/components/Chip/chip.scss
  src/patternfly/demos/Card/card-template-gallery.hbs
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Card/templates/card-demo--template-gallery.hbs
  src/patternfly/demos/Card/templates/card-template-data-list.hbs
  src/patternfly/demos/Card/templates/card-template-events.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status.hbs
  src/patternfly/demos/Card/templates/card-template-line-chart.hbs
  src/patternfly/demos/PrimaryDetail/primary-detail-template-card-view.hbs
  src/patternfly/demos/Tabs/examples/Tabs.md
Due: stylelint --fix

fix(banner): replaced status with color (#5408)
  src/patternfly/components/Banner/banner.scss
Due: stylelint --fix

chore(popover): removed references to pf-m-icon class
  src/patternfly/components/Popover/examples/Popover.md
  src/patternfly/components/Popover/popover-title.hbs
Due: none

Reorganize pages in workspace
  RELEASE-NOTES.md
  patternfly-docs/patternfly-docs.config.js
  src/patternfly/demos/CardView/examples/CardView.md
  src/patternfly/demos/Dashboard/examples/Dashboard.md
  src/patternfly/demos/PasswordGenerator/examples/PasswordGenerator.md
  src/patternfly/demos/PasswordStrength/examples/PasswordStrength.md
  src/patternfly/demos/PrimaryDetail/examples/PrimaryDetail.md
  src/patternfly/utilities/Accessibility/examples/Accessibility.md
  src/patternfly/utilities/Alignment/examples/Alignment.md
  src/patternfly/utilities/BackgroundColor/examples/BackgroundColor.md
  src/patternfly/utilities/BoxShadow/examples/box-shadow.md
  src/patternfly/utilities/Display/examples/Display.md
  src/patternfly/utilities/Flex/examples/Flex.md
  src/patternfly/utilities/Float/examples/Float.md
  src/patternfly/utilities/Sizing/examples/Sizing.md
  src/patternfly/utilities/Spacing/examples/Spacing.md
  src/patternfly/utilities/Text/examples/Text.md
Due: eslint --fix

Fix syntax error
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

Fix another error
  patternfly-docs/patternfly-docs.config.js
Due: eslint --fix

Update src/patternfly/components/Popover/examples/Popover.md
  src/patternfly/components/Popover/examples/Popover.md
Due: none

Update src/patternfly/components/Popover/popover-title.hbs
  src/patternfly/components/Popover/popover-title.hbs
Due: none

chore(popover): updates
  src/patternfly/components/LogViewer/examples/LogViewer.md
  src/patternfly/components/Popover/examples/Popover.md
  src/patternfly/components/Popover/popover-title-icon.hbs
  src/patternfly/components/Popover/popover-title.hbs
  src/patternfly/demos/Card/templates/card-demo--popover.hbs
Due: none

chore(popover): fix icons, icon size
  src/patternfly/components/Popover/popover-title.hbs
  src/patternfly/components/Popover/popover.scss
Due: stylelint --fix

fix(form-control): updated readonly, disabled colors (#5402)
  src/patternfly/components/FormControl/themes/dark/form-control.scss
  src/patternfly/sass-utilities/themes/dark/scss-variables.scss
Due: stylelint --fix

fix(popover): removed references to pf-m-icon class (#5412)
  src/patternfly/components/LogViewer/examples/LogViewer.md
  src/patternfly/components/Popover/examples/Popover.md
  src/patternfly/components/Popover/popover-title-icon.hbs
  src/patternfly/components/Popover/popover-title.hbs
  src/patternfly/components/Popover/popover.scss
  src/patternfly/demos/Card/templates/card-demo--popover.hbs
Due: stylelint --fix

fix(table): updated z-index to xs/xs + 1
  src/patternfly/components/Table/table-scrollable.scss
Due: stylelint --fix

fix(table): removed unused var
  src/patternfly/components/Table/table-scrollable.scss
Due: stylelint --fix

fix(table): updated sticky mod
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/table.scss
  src/patternfly/components/Table/templates/table--scrollable--tbody--tr.hbs
  src/patternfly/components/Table/templates/table--scrollable--thead--tr.hbs
Due: stylelint --fix

fix(table): updated to sticky-left/right
  src/patternfly/components/Table/examples/Table.css
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/Table/table-scrollable.scss
  src/patternfly/components/Table/table-th.hbs
  src/patternfly/components/Table/templates/table--scrollable--tbody--tr.hbs
  src/patternfly/components/Table/templates/table--scrollable--thead--tr.hbs
  src/patternfly/demos/Table/examples/Table.md
Due: stylelint --fix

fix(table): added right val to sticky column
  src/patternfly/components/Table/table-scrollable.scss
Due: stylelint --fix

feat(page): udpated sidebar body customizations
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
Due: stylelint --fix

update
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/page-template-sidebar.hbs
Due: stylelint --fix

feat(page): updated body mods/added new mods
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template-sidebar-body--nav.hbs
  src/patternfly/demos/Page/page-template-sidebar-nav.hbs
  src/patternfly/demos/Page/page-template-sidebar.hbs
  src/patternfly/sass-utilities/placeholders.scss
Due: stylelint --fix

update
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
Due: stylelint --fix

feat(page): added multiple body support
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page-sidebar.hbs
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/sass-utilities/placeholders.scss
Due: stylelint --fix

feat(page): updated body mods
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template-sidebar-nav.hbs
Due: stylelint --fix

feat(page): updated insets to match
  src/patternfly/components/Page/examples/Page.md
  src/patternfly/components/Page/page.scss
  src/patternfly/demos/Page/examples/Page.md
  src/patternfly/demos/Page/page-template-sidebar-body--nav.hbs
  src/patternfly/demos/Page/page-template-sidebar.hbs
Due: stylelint --fix

refactor(inpug-group): resolved nits
  src/patternfly/components/InputGroup/examples/InputGroup.md
  src/patternfly/components/InputGroup/input-group-text.hbs
  src/patternfly/components/InputGroup/input-group.scss
  src/patternfly/components/InputGroup/themes/dark/input-group.scss
  src/patternfly/demos/Masthead/examples/Masthead.md
Due: stylelint --fix
