Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(version): resolved help icon issue
  patternfly-docs/patternfly-docs.version.css
Due: none

update
  scripts/gulp/icons.mjs
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/assets/pficon/pficon.woff2
Due: stylelint --fix

update
  patternfly-docs/patternfly-docs.css.js
  patternfly-docs/patternfly-docs.version.css
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/components/Avatar/avatar.scss
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
Due: eslint --fix, stylelint --fix

feat(version): fixed notification drawer
  src/patternfly/components/NotificationDrawer/notification-drawer-list-item-header-title.hbs
Due: none

update
  src/patternfly/components/Login/login.scss
Due: stylelint --fix

chore(rewrite): update screenreader and global typos
  src/patternfly/components/AppLauncher/app-launcher-menu-item-external-icon.hbs
  src/patternfly/components/CalendarMonth/calendar-month-day.hbs
  src/patternfly/components/Card/card--hidden-input.hbs
  src/patternfly/components/Card/card-sr-input.hbs
  src/patternfly/components/DataList/examples/DataList.md
  src/patternfly/components/DragDrop/examples/DragDrop.css
  src/patternfly/components/DualListSelector/examples/DualListSelector.md
  src/patternfly/components/FormControl/examples/FormControl.css
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Menu/menu-item-external-icon.hbs
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/Nav/nav-subnav-title.hbs
  src/patternfly/components/OverflowMenu/examples/overflow-menu.md
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Skeleton/examples/Skeleton.md
  src/patternfly/components/Table/examples/Table.md
  src/patternfly/components/ToggleGroup/examples/toggle-group.css
  src/patternfly/components/Truncate/examples/Truncate.css
  src/patternfly/demos/Card/examples/Card.css
  src/patternfly/utilities/Spacing/examples/Spacing.md
Due: none

chore(icons): update list, multiple file upload icon colors
  src/patternfly/components/List/list.scss
  src/patternfly/components/MultipleFileUpload/multiple-file-upload.scss
Due: stylelint --fix

chore(icons): various fixes to get tests to pass
  scripts/gulp/icons.mjs
  scripts/iconList.sh
  src/icons/generateIcons.mjs
  src/patternfly/assets/icons/iconUnicodes.json
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/assets/pficon/pficon.woff2
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
  src/patternfly/components/Form/form-group-label-help.hbs
  src/patternfly/components/Icon/examples/Icon.md
  src/patternfly/components/Icon/icon-content.hbs
  src/patternfly/components/Icon/icon-progress.hbs
  src/patternfly/components/Icon/icon.hbs
  src/patternfly/components/ModalBox/modal-box-header-help.hbs
  src/patternfly/components/MultipleFileUpload/__multiple-file-upload-default.hbs
  src/patternfly/components/MultipleFileUpload/multiple-file-upload-status-progress-icon.hbs
  src/patternfly/components/NotificationBadge/notification-badge.hbs
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/ProgressStepper/progress-stepper-step-icon.hbs
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Slider/examples/Slider.md
  src/patternfly/components/Table/table-column-help-action.hbs
  src/patternfly/components/Tabs/tabs-item-action.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status.hbs
  src/patternfly/demos/Masthead/masthead-template-drilldown.hbs
  src/patternfly/demos/Page/page-template-header-tools-notification-badge.hbs
  src/patternfly/demos/Page/page-template-masthead-drilldown.hbs
Due: stylelint --fix

fix(menu): menu fixes
  src/patternfly/components/Menu/templates/menu-breadcrumbs--Drilldown.hbs
Due: none

feat(version): fixed box-shadow
  src/patternfly/utilities/BoxShadow/examples/box-shadow.css
Due: none

update
  src/patternfly/components/DragDrop/examples/DragDrop.css
  src/patternfly/components/FormControl/examples/FormControl.css
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/OverflowMenu/examples/overflow-menu.md
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Skeleton/examples/Skeleton.md
  src/patternfly/components/ToggleGroup/examples/toggle-group.css
  src/patternfly/components/Truncate/examples/Truncate.css
  src/patternfly/demos/Card/examples/Card.css
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
  src/patternfly/sass-utilities/_init.scss
  src/patternfly/utilities/BoxShadow/examples/box-shadow.css
  src/patternfly/utilities/Spacing/examples/Spacing.md
Due: stylelint --fix

feat(prefix): fixing -global typo
  src/patternfly/components/DragDrop/examples/DragDrop.css
  src/patternfly/components/FormControl/examples/FormControl.css
  src/patternfly/components/Masthead/examples/masthead.md
  src/patternfly/components/Nav/examples/Navigation.css
  src/patternfly/components/OverflowMenu/examples/overflow-menu.md
  src/patternfly/components/Page/examples/Page.css
  src/patternfly/components/Skeleton/examples/Skeleton.md
  src/patternfly/components/ToggleGroup/examples/toggle-group.css
  src/patternfly/components/Truncate/examples/Truncate.css
  src/patternfly/demos/Card/examples/Card.css
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
  src/patternfly/sass-utilities/_init.scss
  src/patternfly/utilities/BoxShadow/examples/box-shadow.css
  src/patternfly/utilities/Spacing/examples/Spacing.md
Due: stylelint --fix

feat(charts): updated charts selector
  src/patternfly/base/_chart-globals.scss
Due: stylelint --fix

feat(charts): updated charts selector (#5536)
  src/patternfly/base/_chart-globals.scss
Due: stylelint --fix

feat(doc): update doc framework version
  package.json
  yarn.lock
Due: none

feat(doc): update doc framework version (#5540)
  package.json
  yarn.lock
Due: none

fix(about-modal): fixed close button icon size
  src/patternfly/components/AboutModalBox/about-modal-box.scss
Due: stylelint --fix

fix(wizard): adjust z-indexes so menus show with overflow
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix

Combine Label and Label Group docs
  src/patternfly/components/Label/examples/Label.md
  src/patternfly/components/Label/label-group-close.hbs
  src/patternfly/components/Label/label-group-label.hbs
  src/patternfly/components/Label/label-group-list-item.hbs
  src/patternfly/components/Label/label-group-list.hbs
  src/patternfly/components/Label/label-group-main.hbs
  src/patternfly/components/Label/label-group-textarea.hbs
  src/patternfly/components/Label/label-group.hbs
  src/patternfly/components/Label/label-group.scss
  src/patternfly/components/LabelGroup/examples/LabelGroup.md
  src/patternfly/components/_all.scss
Due: stylelint --fix

chore(icons): typo
  src/patternfly/sass-utilities/themes/dark/scss-variables.scss
Due: stylelint --fix

chore(input-group): update documentation (#5518)
  src/patternfly/components/InputGroup/examples/InputGroup.md
Due: none

fix(about-modal, background-image): updated to not ship default background image
  src/patternfly/components/AboutModalBox/about-modal-box-hero.hbs
  src/patternfly/components/AboutModalBox/about-modal-box.hbs
  src/patternfly/components/AboutModalBox/about-modal-box.scss
  src/patternfly/components/AboutModalBox/examples/AboutModalBox.md
  src/patternfly/components/BackgroundImage/background-image.hbs
  src/patternfly/components/BackgroundImage/background-image.scss
  src/patternfly/components/BackgroundImage/examples/BackgroundImage.md
  src/patternfly/sass-utilities/scss-variables.scss
Due: stylelint --fix

chore(form-control): comment sprite paths
  src/patternfly/components/FormControl/form-control.scss
Due: stylelint --fix

feat(icons): updated examples
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
  src/patternfly/components/ModalBox/modal-box-header-help.hbs
  src/patternfly/components/MultipleFileUpload/multiple-file-upload-status-progress-icon.hbs
  src/patternfly/components/NotificationBadge/notification-badge.scss
  src/patternfly/components/ProgressStepper/progress-stepper.scss
  src/patternfly/components/Tabs/tabs-item-action.hbs
  src/patternfly/demos/Masthead/masthead-template-drilldown.hbs
  src/patternfly/demos/Page/page-template-masthead-drilldown.hbs
Due: stylelint --fix

feat(icons): fixed in progress
  src/patternfly/components/MultipleFileUpload/multiple-file-upload-status-progress-icon.hbs
Due: none

feat(icons): pf-icon -> pficon
  UPGRADE-GUIDE.md
  patternfly-docs/site/pages/contribution.md
  patternfly-docs/site/pages/icons.md
  scripts/gulp/icons.mjs
  scripts/iconList.sh
  src/patternfly/assets/icons/iconUnicodes.json
  src/patternfly/assets/pficon/pf-v5-icon.woff2
  src/patternfly/assets/pficon/pf-v5-pficon.woff2
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/base/_icons.scss
  src/patternfly/base/_pficons.scss
  src/patternfly/base/patternfly-pf-icons.scss
  src/patternfly/components/Form/form-group-label-help.hbs
  src/patternfly/components/NotificationBadge/notification-badge.hbs
  src/patternfly/components/ProgressStepper/progress-stepper-step-icon.hbs
  src/patternfly/components/Table/table-column-help-action.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
  src/patternfly/demos/Card/templates/card-template-expandable-status.hbs
  src/patternfly/demos/Page/page-template-header-tools-notification-badge.hbs
Due: stylelint --fix

feat(icons): fixed icons
  scripts/gulp/icons.mjs
  scripts/helpers.mjs
  scripts/iconList.sh
  scripts/init.mjs
  src/patternfly/assets/pficon/pf-v5-icon.woff2
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/assets/pficon/pficon.woff2
Due: stylelint --fix

chore(icons): fixed icon scss, re-ran font jobs
  patternfly-docs/site/pages/icons.md
  scripts/iconList.sh
  src/icons/definitions/pficons.mjs
  src/icons/generateIcons.mjs
  src/patternfly/assets/icons/iconUnicodes.json
  src/patternfly/assets/pficon/pf-v5-pficon.woff2
  src/patternfly/assets/pficon/pficon.scss
  src/patternfly/components/Avatar/examples/Avatar.css
  src/patternfly/components/NotificationBadge/examples/NotificationBadge.css
Due: stylelint --fix

fix(about-modal): fixed close button icon size (#5543)
  src/patternfly/components/AboutModalBox/about-modal-box.scss
Due: stylelint --fix

Update src/patternfly/components/Wizard/wizard.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix

fix(wizard): adjust z-indexes so menus show with overflow (#5533)
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix

chore(flex): update mixin names
  src/patternfly/layouts/Flex/flex.scss
Due: stylelint --fix

feat(deps): introduce stylelint-use-logical-spec stylelint plugin
  .lintstagedrc.json
  .stylelintrc_logical
  package.json
  yarn.lock
Due: none

Combine chip and chipGroup
  src/patternfly/components/Chip/chip-group-close.hbs
  src/patternfly/components/Chip/chip-group-label.hbs
  src/patternfly/components/Chip/chip-group-list-item.hbs
  src/patternfly/components/Chip/chip-group-list.hbs
  src/patternfly/components/Chip/chip-group-main.hbs
  src/patternfly/components/Chip/chip-group.hbs
  src/patternfly/components/Chip/chip-group.scss
  src/patternfly/components/Chip/examples/Chip.md
  src/patternfly/components/ChipGroup/examples/ChipGroup.md
  src/patternfly/components/_all.scss
Due: stylelint --fix

chore(SearchInput): removed remaining searchInput usage
  src/patternfly/components/Page/page-sidebar.hbs
  src/patternfly/components/TextInputGroup/text-input-group--search-input.hbs
  src/patternfly/components/_all.scss
  src/patternfly/demos/Masthead/masthead-template-drilldown.hbs
  src/patternfly/demos/Page/page-template-masthead-drilldown.hbs
Due: stylelint --fix

chore(SearchInput): removed component
  src/patternfly/components/AppLauncher/examples/application-launcher.md
  src/patternfly/components/LogViewer/log-viewer.scss
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Select/__select-checkbox-checked.hbs
  src/patternfly/components/Select/__select-checkbox-groups-checked.hbs
  src/patternfly/components/Select/__select-menu-favorites.hbs
  src/patternfly/components/TextInputGroup/text-input-group-clear.hbs
  src/patternfly/components/Toolbar/toolbar-item-context-selector.hbs
  src/patternfly/components/TreeView/examples/TreeView.md
  src/patternfly/demos/ContextSelector/examples/ContextSelector.md
  src/patternfly/demos/Masthead/masthead-template-application-launcher.hbs
  src/patternfly/demos/Masthead/masthead-template-context-selector.hbs
Due: stylelint --fix

chore(SearchInput): removed searchinput directory
  src/patternfly/components/SearchInput/examples/SearchInput.css
  src/patternfly/components/SearchInput/examples/SearchInput.md
  src/patternfly/components/SearchInput/search-input-bar.hbs
  src/patternfly/components/SearchInput/search-input-clear.hbs
  src/patternfly/components/SearchInput/search-input-count.hbs
  src/patternfly/components/SearchInput/search-input-icon.hbs
  src/patternfly/components/SearchInput/search-input-menu-body.hbs
  src/patternfly/components/SearchInput/search-input-menu-item-text.hbs
  src/patternfly/components/SearchInput/search-input-menu-item.hbs
  src/patternfly/components/SearchInput/search-input-menu-list-item.hbs
  src/patternfly/components/SearchInput/search-input-menu-list.hbs
  src/patternfly/components/SearchInput/search-input-menu.hbs
  src/patternfly/components/SearchInput/search-input-nav.hbs
  src/patternfly/components/SearchInput/search-input-search-button.hbs
  src/patternfly/components/SearchInput/search-input-text-input.hbs
  src/patternfly/components/SearchInput/search-input-text.hbs
  src/patternfly/components/SearchInput/search-input-toggle.hbs
  src/patternfly/components/SearchInput/search-input-utilities.hbs
  src/patternfly/components/SearchInput/search-input.hbs
  src/patternfly/components/SearchInput/search-input.scss
  src/patternfly/components/SearchInput/themes/dark/search-input.scss
Due: stylelint --fix

chore(SearchInput): removed remaining references
  src/patternfly/components/TextInputGroup/examples/TextInputGroup.css
  src/patternfly/sass-utilities/component-namespaces.scss
Due: stylelint --fix

fix(icons): update static icon colors (#5526)
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Breadcrumb/themes/dark/breadcrumb.scss
  src/patternfly/components/List/list.scss
  src/patternfly/components/MultipleFileUpload/multiple-file-upload.scss
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/sass-utilities/themes/dark/scss-variables.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
