Repository patternfly/patternfly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

fix(dependencies): update lint-staged config
  .lintstagedrc.json
Due: none

fix(menu): fixed nested drilldown list visibility (#5375)
  src/patternfly/components/Menu/menu.scss
Due: stylelint --fix

fix(dependencies): fix lint issue
  patternfly-a11y.config.js
  src/patternfly/assets/pficon/pficon.woff
  src/patternfly/assets/pficon/pficon.woff2
Due: eslint --fix

feat(chip, label): move margin, rename again
  src/patternfly/components/Chip/chip-content.hbs
  src/patternfly/components/Chip/chip.scss
  src/patternfly/components/Label/examples/Label.md
  src/patternfly/components/Label/label.hbs
  src/patternfly/components/Label/label.scss
Due: stylelint --fix

fix(dependencies): update babel lint parser
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --fix

fix(dependencies): add missing bable dependencies
  package.json
  yarn.lock
Due: none

fix(dependencies): update gulp develop function
  gulpfile.mjs
Due: none

fix(lists): added list role to list elements
  src/patternfly/components/AlertGroup/alert-group.hbs
  src/patternfly/components/AppLauncher/app-launcher-menu.hbs
  src/patternfly/components/AppLauncher/examples/application-launcher.md
  src/patternfly/components/Breadcrumb/breadcrumb-list.hbs
  src/patternfly/components/ContextSelector/context-selector-menu-menu.hbs
  src/patternfly/components/Divider/examples/Divider.md
  src/patternfly/components/JumpLinks/jump-links-list.hbs
  src/patternfly/components/List/list.hbs
  src/patternfly/components/Login/login-main-footer-links.hbs
  src/patternfly/components/MultipleFileUpload/multiple-file-upload-status-list.hbs
  src/patternfly/components/Nav/nav-list.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer-list.hbs
  src/patternfly/components/ProgressStepper/progress-stepper.hbs
  src/patternfly/components/SimpleList/simple-list-list.hbs
  src/patternfly/components/Wizard/wizard-nav-list.hbs
  src/patternfly/demos/Masthead/masthead-template-application-launcher.hbs
Due: none

fix(lists): updated HelperText and List
  src/patternfly/components/HelperText/examples/HelperText.md
  src/patternfly/components/HelperText/helper-text-item.hbs
  src/patternfly/components/HelperText/helper-text.hbs
  src/patternfly/components/List/examples/List.md
Due: none

fix(lists): applied role for List by default
  src/patternfly/components/List/list.hbs
Due: none

fix(dependencie): update to latest stylelint
  .stylelintrc
  package.json
  yarn.lock
Due: none

fix(lists): removed list-style-type from datalist
  src/patternfly/components/DataList/data-list.scss
Due: stylelint --fix

fix(lists): added list role to list elements (#5357)
  src/patternfly/components/AlertGroup/alert-group.hbs
  src/patternfly/components/AppLauncher/app-launcher-menu.hbs
  src/patternfly/components/AppLauncher/examples/application-launcher.md
  src/patternfly/components/Breadcrumb/breadcrumb-list.hbs
  src/patternfly/components/ContextSelector/context-selector-menu-menu.hbs
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Divider/examples/Divider.md
  src/patternfly/components/HelperText/examples/HelperText.md
  src/patternfly/components/HelperText/helper-text-item.hbs
  src/patternfly/components/HelperText/helper-text.hbs
  src/patternfly/components/JumpLinks/jump-links-list.hbs
  src/patternfly/components/List/examples/List.md
  src/patternfly/components/List/list.hbs
  src/patternfly/components/Login/login-main-footer-links.hbs
  src/patternfly/components/MultipleFileUpload/multiple-file-upload-status-list.hbs
  src/patternfly/components/Nav/nav-list.hbs
  src/patternfly/components/NotificationDrawer/notification-drawer-list.hbs
  src/patternfly/components/ProgressStepper/progress-stepper.hbs
  src/patternfly/components/SimpleList/simple-list-list.hbs
  src/patternfly/components/Wizard/wizard-nav-list.hbs
  src/patternfly/demos/Masthead/masthead-template-application-launcher.hbs
Due: stylelint --fix

fix(dependencies): update all dependencies to latest versions (#5377)
  .eslintignore
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .stylelintrc
  gulpfile.mjs
  package.json
  patternfly-a11y.config.js
  scripts/generate.mjs
  scripts/gulp/copy.mjs
  scripts/gulp/html.mjs
  scripts/gulp/icons.mjs
  scripts/gulp/lint.mjs
  scripts/gulp/sass.mjs
  scripts/gulp/snippets.mjs
  scripts/sizeReport/helpers.mjs
  scripts/sizeReport/sizeReport.mjs
  src/icons/definitions/pf-icons.mjs
  src/icons/generateIcons.mjs
  src/icons/generatorConfig.mjs
  src/patternfly/assets/pficon/pficon.woff
  src/patternfly/assets/pficon/pficon.woff2
  yarn.lock
Due: eslint --fix

fix(yarn start): fixed issue with recompiling hbs/md
  gulpfile.mjs
Due: none

fix(yarn start): fixed issue with recompiling hbs/md (#5381)
  gulpfile.mjs
Due: none

fix(global): fix global background color, other cleanup
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/AppLauncher/app-launcher.scss
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/CodeEditor/code-editor-template-no-actions.hbs
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
  src/patternfly/components/ContextSelector/context-selector.scss
  src/patternfly/components/ContextSelector/examples/context-selector.css
  src/patternfly/components/ContextSelector/examples/context-selector.md
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Dropdown/examples/Dropdown.css
  src/patternfly/components/DualListSelector/dual-list-selector-draggable-button.hbs
  src/patternfly/components/DualListSelector/examples/DualListSelector.md
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Menu/templates/menu--search-input.hbs
  src/patternfly/components/TextInputGroup/text-input-group--search-input.hbs
  src/patternfly/components/TextInputGroup/text-input-group-text-input.hbs
  src/patternfly/components/TextInputGroup/text-input-group.scss
Due: stylelint --fix

chore(global): cleanup continued
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/ExpandableSection/expandable-section.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/SearchInput/search-input.scss
  src/patternfly/components/TreeView/tree-view.scss
  src/patternfly/components/Wizard/wizard.scss
Due: stylelint --fix

chore(textinputgroup): removed dupe block
  src/patternfly/components/TextInputGroup/text-input-group-text-input.hbs
Due: none

fix(button): fix a11y error in dual list selector draggable button
  src/patternfly/components/BackToTop/back-to-top.hbs
  src/patternfly/components/Banner/examples/Banner.md
  src/patternfly/components/Button/button-link.hbs
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/DualListSelector/dual-list-selector-draggable-button.hbs
  src/patternfly/components/SkipToContent/skip-to-content.hbs
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
Due: none

fix(dual-list-selector): draggable button fix
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/DualListSelector/dual-list-selector-draggable-button.hbs
Due: none

fix(dual-list-selector): draggable button fix
  src/patternfly/components/DualListSelector/dual-list-selector-draggable-button.hbs
  src/patternfly/components/DualListSelector/examples/DualListSelector.md
Due: none

Update src/patternfly/components/SkipToContent/skip-to-content.hbs
  src/patternfly/components/SkipToContent/skip-to-content.hbs
Due: none

fix(button): remove href from button--url param
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/DualListSelector/dual-list-selector-draggable-button.hbs
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
Due: none

fix(global): fix global background color, other cleanup (#5379)
  src/patternfly/components/Accordion/accordion.scss
  src/patternfly/components/AppLauncher/app-launcher.scss
  src/patternfly/components/BackToTop/back-to-top.hbs
  src/patternfly/components/Banner/examples/Banner.md
  src/patternfly/components/Breadcrumb/breadcrumb.scss
  src/patternfly/components/Button/button-link.hbs
  src/patternfly/components/Button/button.hbs
  src/patternfly/components/Button/examples/Button.md
  src/patternfly/components/CodeEditor/code-editor-template-no-actions.hbs
  src/patternfly/components/CodeEditor/examples/CodeEditor.md
  src/patternfly/components/ContextSelector/context-selector.scss
  src/patternfly/components/ContextSelector/examples/context-selector.css
  src/patternfly/components/ContextSelector/examples/context-selector.md
  src/patternfly/components/DataList/data-list.scss
  src/patternfly/components/Dropdown/dropdown.scss
  src/patternfly/components/Dropdown/examples/Dropdown.css
  src/patternfly/components/DualListSelector/dual-list-selector-draggable-button.hbs
  src/patternfly/components/DualListSelector/examples/DualListSelector.md
  src/patternfly/components/ExpandableSection/expandable-section.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/Menu/examples/Menu.md
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/Menu/templates/menu--search-input.hbs
  src/patternfly/components/MenuToggle/menu-toggle.scss
  src/patternfly/components/SearchInput/search-input.scss
  src/patternfly/components/SkipToContent/skip-to-content.hbs
  src/patternfly/components/TextInputGroup/text-input-group--search-input.hbs
  src/patternfly/components/TextInputGroup/text-input-group-text-input.hbs
  src/patternfly/components/TextInputGroup/text-input-group.scss
  src/patternfly/components/TreeView/tree-view.scss
  src/patternfly/components/Wizard/wizard.scss
  src/patternfly/demos/Card/examples/Card.md
  src/patternfly/demos/Card/templates/card-template-expandable-status-card.hbs
Due: stylelint --fix

fix(release): update release.yml env variable
  .github/workflows/release.yml
Due: none

fix(yml): update yml
  .github/workflows/release.yml
Due: none

fix(release): update release.yml env variable (#5383)
  .github/workflows/release.yml
Due: none

fix(table): right align table action cells
  src/patternfly/components/Table/table.scss
Due: stylelint --fix

fix(Progress): prevented empty desc and status from rendering
  src/patternfly/components/Progress/progress.hbs
Due: none

fix(Progress): made requested changes
  src/patternfly/components/Progress/progress.hbs
  src/patternfly/components/Progress/progress.scss
Due: stylelint --fix

fix(Progress): updated formatting
  src/patternfly/components/Progress/progress.hbs
Due: none

feat(popover): update demos
  src/patternfly/components/LogViewer/examples/LogViewer.md
  src/patternfly/demos/Card/templates/card-demo--popover.hbs
Due: none

feat(modal): updates demos and adds default close block
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/ModalBox/modal-box-close.hbs
  src/patternfly/demos/Modal/examples/Modal.md
Due: none

feat(modal): updates additional demos
  src/patternfly/demos/Table/examples/Table.md
  src/patternfly/demos/Tabs/examples/Tabs.md
Due: none

fix(Progress): prevented empty desc and status from rendering (#5387)
  src/patternfly/components/Progress/progress.hbs
  src/patternfly/components/Progress/progress.scss
Due: stylelint --fix

fix(table): right align table action cells (#4717)
  src/patternfly/components/Table/table.scss
Due: stylelint --fix

fix(modal): add wrapper to close button (#5371)
  src/patternfly/components/ModalBox/examples/ModalBox.md
  src/patternfly/components/ModalBox/modal-box-close.hbs
  src/patternfly/components/ModalBox/modal-box.scss
  src/patternfly/demos/Modal/examples/Modal.md
  src/patternfly/demos/Table/examples/Table.md
  src/patternfly/demos/Tabs/examples/Tabs.md
Due: stylelint --fix

fix(stylelint): cleanup stylelint-scss
  .stylelintrc
  package.json
  src/patternfly/base/_globals.scss
  src/patternfly/base/_shield-inheritable.scss
  src/patternfly/base/_shield-noninheritable.scss
  src/patternfly/base/_variables.scss
  src/patternfly/base/themes/dark/_globals.scss
  src/patternfly/base/themes/dark/_variables.scss
  src/patternfly/components/Avatar/avatar.scss
  src/patternfly/components/Divider/divider.scss
  src/patternfly/sass-utilities/functions.scss
  src/patternfly/sass-utilities/mixins.scss
  src/patternfly/sass-utilities/scss-variables.scss
  src/patternfly/utilities/Spacing/spacing.scss
  yarn.lock
Due: stylelint --fix

chore(stylelint): update stylelint-order, add rule for vars before decs
  .stylelintrc
  package.json
  src/patternfly/components/CalendarMonth/calendar-month.scss
  src/patternfly/components/Content/content.scss
  src/patternfly/components/Form/form.scss
  src/patternfly/components/Label/label.scss
  src/patternfly/components/Menu/menu.scss
  src/patternfly/components/Nav/nav.scss
  src/patternfly/components/SimpleList/simple-list.scss
  yarn.lock
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
